

{% if page.comments %}
  <div class="comments" id="comments">
    <!-- comment -->
    <div>
      <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
      <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
      <script src="https://cdn.bootcss.com/blueimp-md5/2.10.0/js/md5.js"></script>
      <div id="gitalk-container"></div>
      <script type="text/javascript">
        var gitalk = new Gitalk({
          clientID: '6bc09325e15fbb04522b',
          clientSecret: '549de7a71a0b4dc3ef13c4a396b1eefb23cee87f',
          repo: 'commentdata',
          owner: 'lh16',
          admin: ['lh16'],
          id: md5(location.pathname),      // Ensure uniqueness and length less than 50
          title: document.title,
          body:  '文章链接：'+ decodeURIComponent(location.origin+location.pathname),
          //distractionFreeMode: false  // Facebook-like distraction free mode
        })

        gitalk.render('gitalk-container')
      </script>
    </div>




    {% if site.duoshuo and site.duoshuo.shortname or site.duoshuo_shortname %}
      <div class="ds-thread" data-thread-key="{{ page.url | relative_url }}"
           data-title="{{ page.title }}" data-url="{{ page.url | absolute_url }}">
      </div>
    {% elsif site.facebook_sdk.enable and site.facebook_comments_plugin.enable %}
      <div class="fb-comments"
           data-href="{{ page.url | absolute_url }}"
           data-numposts="{{ site.facebook_comments_plugin.num_of_posts }}"
           data-width="{{ site.facebook_comments_plugin.width }}"
           data-colorscheme="{{ site.facebook_comments_plugin.scheme }}">
      </div>
    {% elsif site.vkontakte_api.enable and site.vkontakte_api.comments %}
      <div id="vk_comments"></div>
    {% elsif site.disqus.enable %}
      <div id="disqus_thread">
        <noscript>
          Please enable JavaScript to view the
          <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
        </noscript>
      </div>
    {% elsif site.hypercomments_id %}
      <div id="hypercomments_widget"></div>
    {% elsif site.gentie_productKey %}
      <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    {% elsif site.gitalk.enable %}
      <div id="gitalk-container"></div>
    {% elsif site.youyan_uid %}
      <div id="uyan_frame"></div>
    {% elsif site.livere_uid %}
      <div id="lv-container" data-id="city" data-uid="{{ site.livere_uid }}"></div>
    {% elsif site.changyan.appid and site.changyan.appkey %}
      <div id="SOHUCS"></div>
    {% elsif site.wildfire.enable %}
      <div class="wildfire_thread"></div>
    {% endif %}
  </div>
{% endif %}
